@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#00CCC0,#72F2EB );
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #535c5c6d;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color:#FF4858 ;
text-align: center;
text-shadow: 1px 1px 2px #7a22298f;
}
h2{
color:#1B7F79;
}

p{
    text-align: justify;
}


